  <div id="container">

    <div class="fila">
      <ion-button color="light" style="display: flex; flex-direction: column;"><img width="100%" style="margin: 4%;" src="../../../assets/imagenes/menu.png" (click)="enviar('menu')"></ion-button>
          
      <ion-button color="light" style="display: flex; flex-direction: column;"><img width="100%" style="margin: 4%;" src="../../../assets/imagenes/estadoPedido.png" (click)="enviar('pedidos')"></ion-button>
          
    </div>

    <div class="fila">
      <ion-button color="light" style="display: flex; flex-direction: column;"><img width="100%" style="margin: 4%;" src="../../../assets/imagenes/consulta.png" (click)="hacerConsulta()"></ion-button>
          
      <ion-button color="light" style="display: flex; flex-direction: column;"><img width="100%" style="margin: 4%;" src="../../../assets/imagenes/cuenta.png" (click)="cuenta()"></ion-button>
          
    </div>

    <div class="fila">
      <ion-button color="light" style="display: flex; flex-direction: column;"><img width="100%" style="margin: 4%;" src="../../../assets/imagenes/juegos.png" (click)="jugar('juegos')"></ion-button>
          
      <ion-button color="light" style="display: flex; flex-direction: column;"><img width="100%" style="margin: 4%;" src="../../../assets/imagenes/encuestaCli.png" (click)="encuesta()"></ion-button>
          
    </div>
    



  </div>
