<ion-content [fullscreen]="true">

  <div id="container">


    <div class="fila">
      <ion-button color="light" style="display: flex; flex-direction: column;"><img width="100%" style="margin: 4%;"
          src="../../../assets/imagenes/scanearQR.png" (click)="escanear()"></ion-button>


    </div>


  </div>

  <!-- <div *ngIf="!enListaDeEspera" id="container">
      
      <div class="fila">
        <ion-button color="light" class="mediaPagina centrado drop">
          <img src="../../../assets/imagenes/ingresoQR.png" alt="cuartoA" style="margin: 4%;" width="70%">
        </ion-button>
      </div>
      <div class="fila">
        <ion-button color="light" class="mediaPagina centrado drop">
          <img src="../../../assets/imagenes/reseniasQR.png" alt="cuartoA" style="margin: 4%;" width="70%">
        </ion-button>
      </div>
      
    </div> -->

</ion-content>