#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


//Mis estilos



.fila{
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}

ion-button{
  height: 100%;
  margin-left: 4%;
  margin-right: 4%;
}

ion-content{
  --background: url('../../../assets/imagenes/fondoMaderaOsc.jpg') no-repeat center center / cover;
}

