<ion-content [fullscreen]="true">

  <div id="container">

    <div class="fila">
      <ion-button color="light" style="display: flex; flex-direction: column;"><img width="100%" style="margin: 4%;" src="../../../assets/imagenes/duenio.png" (click)="registro('duenio')"></ion-button>
          
      <ion-button color="light" style="display: flex; flex-direction: column;"><img width="100%" style="margin: 4%;" src="../../../assets/imagenes/supervisora.png" (click)="registro('supervisor')"></ion-button>
          
    </div>
    <div class="fila">
      <ion-button color="light" style="display: flex; flex-direction: column;"><img width="100%" style="margin: 4%;" src="../../../assets/imagenes/empleado.png" (click)="registro('empleado')"></ion-button>
          
      <ion-button color="light"><img width="100%" style="margin: 4%;" src="../../../assets/imagenes/clientes.png" (click)="enviar('clientes')"></ion-button>
    </div>


  </div>



</ion-content>