.centrado{
  width: 100vw;
  height: 100vh;
  flex: auto;
  align-items: center;
  }

  #container {
      text-align: center;
    
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

  //   body{
  //     background: url('../../../assets/imagenes/fondoLogin.jpg')  no-repeat center center / cover;
  //   }

    ion-content{
        --background: url('../../../assets/imagenes/fondoMaderaOsc.jpg')  no-repeat center center / cover;
    }

.card{
  // --background:  rgb(17, 185, 193);
  // background: rgba(56, 115, 175, 0.767);
  background: rgba(255, 255, 255, 0.712);
}

.error{
  --background:  rgb(241, 56, 65);
   color: rgb(218, 214, 214);
}

.exito{
  --background:  rgb(14, 146, 25);
   color: rgb(218, 216, 216);
}

.titulo{
  --color:whitesmoke;
}

ion-card-title{
  // font-weight: 800;
  font-size: 200%;
}


p{
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: medium;
}

.total{
  color: rgb(146, 31, 31);
  font-weight: 700;
  font-size: x-large;
}


ion-card-header{
  color: rgb(9, 9, 102);
  background-color: rgb(206, 112, 112);
}