<body class="container centrado color-change-3x">
  <!-- <ion-content [fullscreen]="true"> -->
    <div id="container">
      <div class="nomApp tracking-in-expand-fwd">LA COMANDA</div>
      <div><img src="../../assets/icon.png" alt="splash" class="pulsate-fwd" width="70%"></div>
      <div class="integrantes tracking-in-expand-fwd-top">Alejandro Gallo</div>
      <div class="integrantes tracking-in-expand-fwd-top">Matías Paverini</div>
      <div class="integrantes tracking-in-expand-fwd-top">Milagros Pielvitori</div>
    </div>
  <!-- </ion-content> -->
</body>


<!-- <ion-header>
  <ion-toolbar>
    <ion-title>splash</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
