ion-content{
    --background: url('../../../assets/imagenes/fondoMaderaOsc.jpg')  no-repeat center center / cover;
}

.card{
// --background:  rgb(17, 185, 193);
// background: rgba(56, 115, 175, 0.767);
background: rgba(255, 255, 255, 0.322);
}